<div class="row">
  <div class="twelve columns text-center">
  <h1>Welcome to Run with Me</h1>
    <% if !user_signed_in? %>
      <%=link_to "Join", new_user_registration_path, class: "button"%>
    <%else%>
      <%= link_to 'Profile', user_path(@user), class: "button" %>
    <% end %>
  </div>
</div>